/*--------------------------
banner-area-v2
---------------------------*/
.banner-area-v2 {
  position: relative;
  padding: 22rem 0 40rem 0;
  background: #FAEFE3;
  z-index: 1;
  overflow: hidden;
  .dot {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    animation: slideInRight 3s linear 1s infinite alternate both;
  }
  .dot-one {
    position: absolute;
    right: 0;
    bottom: 30px;
    z-index: -1;
    animation: slideInLeft 3s linear 1s infinite alternate both;
  }
  .round {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation: slideInUp 3s linear 1s infinite alternate both;
  }
  .round-two {
    position: absolute;
    top: 0;
    right: 0;
    animation: slideInDown 3s linear 1s infinite alternate both;
    z-index: -1;
  }
  .banner-text-wrap {
    text-align: center;
    .banner-title {
      margin-bottom: 2rem;
      font-family: $titlefont;
      font-size: 6.4rem;
      line-height: 7.2rem;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--color-one);
    }
    .banner-content {
      width: 80%;
      margin: auto;
      font-size: 1.8rem;
      line-height: 3rem;
      color: var(--bColor);
    }
  }
}
@media (max-width: 1367px) {
  .banner-area-v2 .round-two {
    width: 100px;
  }
  .banner-area-v2 .round {
    width: 100px;
  }
  .banner-area-v2 .dot {
    width: 100px;
  }
  .banner-area-v2 .dot-one {
    width: 100px;
  }
}
@media (max-width: 1199px) {
  .banner-area-v2 .dot {
    display: none;
  }
}
@media (max-width: 575px) {
  .banner-area-v2 .round-two {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner-area-v2 .dot-one {
    display: none;
  }
  .banner-area-v2 .round {
    display: none;
  }
}