/*--------------------------
banner-area-v3
---------------------------*/
.banner-area-v3 {
  position: relative;
  padding: 28rem 0 23rem 0;
  background: url("../images/banner-bg-v3.jpg") no-repeat center / cover;
  overflow: hidden;
  .tangle-one {
    position: absolute;
    top: 30%;
    left: 50%;
    animation: slideInUp 1s linear 1s infinite alternate both;
  }
  .tangle-two {
    position: absolute;
    top: 50%;
    left: 10%;
    animation: slideInDown 2s linear 1s infinite alternate both;
  }
  .tangle-three{
    position: absolute;
    bottom: 0;
    left: 30px;
    animation: slideInRight 3s linear 1s infinite alternate both;
  }
  .banner-info {
    h2 {
      margin-bottom: 3rem;
      font-family: $titlefont;
      font-size: 10rem;
      line-height: 1;
      font-weight: 900;
      color: var(--text-color-four);
    }
    p {
      margin-bottom: 3.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      color: var(--text-color-four);
    }
    .banner-btn-list {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .banner-image {
    position: absolute;
    right: -10rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .banner-area-v3 .tangle-one {
    left: 80%;
  }
}
@media (max-width: 480px) {
  .banner-area-v3 .tangle-three {
    max-width: 80px;
  }
  .banner-area-v3 .tangle-one {
   display: none;
  }
}