/*--------------------------
pricing-area-two
---------------------------*/
.pricing-area-two {
  .price-table-nav {
    .nav-link {
      padding: 4rem 3rem;
      border-radius: 2rem;
      background: var(--white);
      box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
      color: var(--black);
      margin-bottom: 3rem;
      transition: $transition;
      &.active {
        background: var(--secondary-color-two);
        .check-icon {
          i {
            background: var(--primary-color-two);
            border: 1px solid var(--primary-color-two);
            color: var(--white);
          }
        }
        h4 {
          color: var(--white);
        }
        span {
          color: #f9f9f9;
        }
        .amount {
          h2 {
            color: var(--white);
          }
        }
      }
      &:hover {
        background: var(--secondary-color-two);
        .check-icon {
          i {
            background: var(--primary-color-two);
            border: 1px solid var(--primary-color-two);
            color: var(--white);
          }
        }
        h4 {
          color: var(--white);
        }
        span {
          color: #f9f9f9;
        }
        .amount {
          h2 {
            color: var(--white);
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .check-icon {
        i {
          @include flex-position(flex, center, center);
          width: 3.5rem;
          height: 3.5rem;
          line-height: 3.5rem;
          background: transparent;
          border-radius: 50%;
          border: 1px solid var(--primary-color-two);
          color: var(--primary-color-two);
          transition: $transition;
        }
      }
      h4 {
        font-family: $titlefont;;
        font-size: 2.3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-one);
        transition: $transition;
      }
      span {
        font-family: $titlefont;;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: capitalize;
        color: var(--bColor);
        transition: $transition;
      }
      .amount {
        h2 {
          font-family: $titlefont;;
          font-size: 3.6rem;
          font-weight: 700;
          text-transform: uppercase;
          color: var(--color-one);
          transition: $transition;
        }
      }
    }
  }
  .price-info-box {
    padding: 4rem 3.5rem;
    background: var(--white);
    border-radius: 2rem;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
    .price-top {
      position: relative;
      border-bottom: 1px solid #dadada;
      padding-bottom: 2.5rem;
      h2 {
        margin-bottom: 1rem;
        font-family: $titlefont;;
        font-size: 3.6rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--color-one);
      }
      span {
        font-family: $titlefont;;
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 400;
        color: #a3a3a3;
      }
      .check-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 4.6rem;
        height: 4.6rem;
        line-height: 4.6rem;
        border-radius: 50%;
        background: var(--secondary-color-two);
        text-align: center;
        font-size: 2rem;
        color: var(--white);
      }
    }
    .price-body {
      padding-top: 3.4rem;
      ul {
        margin: 0;
        padding: 0;
        li {
          position: relative;
          list-style: none;
          margin-bottom: 2rem;
          padding-left: 3.5rem;
          font-family: $titlefont;;
          font-size: 1.6rem;
          font-weight: 400;
          color: var(--bColor);
          &:before {
            position: absolute;
            content: "\f00c";
            font-family: "Font Awesome 5 free";
            font-weight: 900;
            left: 0;
            top: 0;
            color: var(--secondary-color-two);
          }
        }
      }
      .primary-btn-two {
        margin-top: 2rem;
      }
    }
  }
}
