/*--------------------------
43.contact-area
---------------------------*/
.contact-area-v3 {
  .box-lst {
    margin-bottom: 5rem;
    display: flex;
    li {
      @include flex-position(flex, center, center);
      flex-direction: column;
      height: 16rem;
      width: 33.33%;
      align-items: center;
      background: var(--white);
      transition: $transition;
      &:hover {
        box-shadow: 0px 20px 20px rgba(215, 215, 215, 0.21);
      }
      i {
        margin-bottom: 1.5rem;
        font-size: 3rem;
        color: #222222;
      }
      h4 {
        font-weight: 700;
        font-size: 2rem;
        color: #222222;
      }
      span {
        display: block;
        font-size: 1.6rem;
        color: #666666;
        line-height: 2.5rem;
      }
    }
  }
  .contact-form-wrap {
    background: url('../images/contact-left-image.png');
    background-size: cover;
    background-position: center;
    background-size: cover;
    .contact-image {
      position: relative;
      height: 540px;
      img {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  .contact-form {
    padding: 5rem 3rem;
    background: #2896f7;
    .contact-title {
      margin-bottom: 2.8rem;
      font-family: $bodyFont;
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--white);
    }
    .form-group {
      margin-bottom: 2rem;
      .form-control {
        width: 100%;
        height: 46px;
        border: 1px solid #eeeeee;
        font-family: $bodyFont;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--white);
        border-radius: 0;
        padding: 2rem;
        background: transparent;
        &::placeholder {
          color: var(--white);
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: var(--white);
        }
        &::-ms-input-placeholder {
          color: var(--white);
        }
      }
      .message {
        height: 12rem;
      }
    }
    .send-btn {
      display: inline-block;
      width: 155px;
      height: 46px;
      border-radius: 6px;
      color: var(--primary-color-five);
      font-family: $bodyFont;
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: capitalize;
      background: var(--white);
      border: 0;
      transition: $transition;
      &:hover {
        background: var(--black);
        color: var(--white);
      }
    }
  }
}

@media (max-width: 767px) {
  .contact-area-v3 .box-lst li span {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .contact-area-v3 .box-lst{
    flex-direction: column;
    flex-flow: row wrap;
  }
  .contact-area-v3 .box-lst li  {
    width: 50%
  }
}
@media (max-width: 375px) {
  .contact-area-v3 .box-lst li  {
    width: 100%
  }
  .contact-area-v3 .contact-form {
    padding: 3rem 2rem;
  }
}