/*--------------------------
46.cart-page
---------------------------*/
.cart-top {
  margin-bottom: 3rem;
  .title {
    font-family: $rubik;
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #222222;
  }
  .delet-btn {
    display: inline-block;
    padding: 1rem 3rem;
    border: 1px solid #666666;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #222222;
    transition: $transition;
    &:hover {
      color: var(--primary-color-five);
      border-color: var(--primary-color-five);
    }
  }
}
.cart-product-list {
  .table {
    border: 1px solid #eeeeee;
    margin-bottom: 0;
    thead {
      border: 0;
      tr {
        th {
          padding: 3rem 2rem;
          border-bottom: 0;
          font-family: $bodyFont;
          font-size: 1.6rem;
          font-weight: 700;
          text-transform: capitalize;
          color: #222222;
          vertical-align: middle;
          white-space: nowrap;
        }
      }
    }
    tbody {
      tr {
        td {
          font-family: $bodyFont;
          font-size: 1.6rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #666666;
          padding: 3rem 2rem;
          vertical-align: middle;
          white-space: nowrap;
          .single-prdocut {
            .product-image {
              width: 8rem;
              height: 8rem;
              img {
                width: 100%;
                height: auto;
                object-fit: cover;
              }
            }
            .product-name {
              font-size: 2rem;
              font-weight: 700;
              text-transform: capitalize;
              color: #222222;
              a {
                color: #222222;
                transition: $transition;
                &:hover {
                  color: var(--primary-color-five);
                }
              }
            }
            span {
              display: block;
              font-size: 1.6rem;
              color: #666666;
            }
          }
        }
      }
    }
  }
}
.cart-bottom {
  margin-top: 3rem;
  .cupon-code {
    .form-group {
      position: relative;
      input {
        width: 350px;
        height: 46px;
        border: 1px solid #eeeeee;
        border-radius: 0.6rem;
        padding: 1rem 2rem;
        font-family: $bodyFont;
        font-size: 1.5rem;
        font-weight: 400;
        color: #666666;
      }
      .applay-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.1rem 3rem;
        background: #222222;
        border: 0;
        box-shadow: none;
        font-family: $bodyFont;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--white);
        border-radius: 0.6rem;
        transition: $transition;
        &:hover {
          color: var(--white);
          background: var(--primary-color-five);
        }
      }
    }
  }
  .update-btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: #2896f7;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
    border-radius: 0.6rem;
    transition: $transition;
    &:hover {
      color: var(--white);
      background: var(--hover-color-five);
    }
  }
}
.order-summary {
  padding: 9rem 3rem 20rem 3rem;
  background: #f8f9fc;
  h2 {
    margin-bottom: 2rem;
    font-family: $bodyFont;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #222222;
  }
  ul {
    margin-bottom: 2rem;
    li {
      display: block;
      margin-bottom: 1.5rem;
      padding: 1.2rem 2rem;
      background: var(--white);
      border: 1px solid #eeeeee;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: capitalize;
      color: #666666;
      span {
        float: right;
        color: #222222;
      }
      .discount-amount {
        color: #ff6c5a;
      }
    }
  }
  .total-cost {
    h4 {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: capitalize;
      color: #222222;
      span {
        float: right;
      }
    }
  }
  .checkout-btn {
    display: block;
    margin: 2.5rem 0;
    padding: 1rem 1rem;
    background: #2896f7;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
    border-radius: 0.6rem;
    transition: $transition;
    text-align: center;
    &:hover {
      color: var(--white);
      background: var(--hover-color-five);
    }
  }
  .continue-shopping {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    transition: $transition;
    color: #2896f7;
    text-align: center;
    i {
      margin-right: 1rem;
    }
    &:hover {
      color: var(--hover-color-five);
    }
  }
}

@media (max-width: 1199px) {
  .cart-product-list .table tbody tr td .single-prdocut .product-image {
    width: 6rem;
    height: 6rem;
  }
  .cart-product-list .table tbody tr td .single-prdocut span {
    font-size: 1.4rem;
  }
  .cart-product-list .table tbody tr td .single-prdocut {
    width: 250px;
  }
  .cart-product-list .table tbody tr td .single-prdocut .product-name {
    font-size: 1.6rem;
  }
}

@media (max-width: 991px) {
  .cart-bottom .cupon-code .form-group input {
    width: 280px;
  }
  .cart-bottom .cupon-code .form-group .applay-btn {
    height: 100%;
  }
  .cart-bottom .update-btn {
    padding: 1rem 2rem;
  }
  .order-summary {
    padding: 3rem 1.5rem;
  }
  .order-summary ul li {
    padding: 1.2rem 0.5rem;
    font-size: 1.4rem;
  }
  .cart-product-list .table tbody tr td {
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 767px) {
  .order-summary {
    margin-top: 3rem;
  }
  .order-summary ul li {
    padding: 1.2rem 1rem;
  }
}

@media (max-width: 480px) {
  .cart-bottom {
    flex-flow: row wrap;
  }
  .cupon-area {
    width: 100%;
  }
  .cart-bottom .cupon-code .form-group input {
    width: 100%;
  }
  .cart-bottom .update-btn {
    margin-top: 2rem;
  }
  .cart-top .title {
    font-size: 2.6rem;
  }
  .cart-top .delet-btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 414px) {
  .cart-top .title {
    font-size: 1.8rem;
  }
}
