/*--------------------------
4.button-area
---------------------------*/
.header-btn {
  display: inline-block;
  position: relative;
  padding: 1rem 3rem;
  border: 1px solid var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary-color);
  border-radius: 0.6rem;
  transition: $transition;
  z-index: 1;
  overflow: hidden;
  animation: btnanimation 1s infinite linear;
  &:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--primary-color);
    z-index: -1;
    transition: $transition;
    transform: scaleX(0);
    transform-origin: top;
    opacity: 0;
  }
  &:hover {
    color: var(--white);
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  &.active {
    color: var(--white);
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.primary-btn {
  display: inline-block;
  position: relative;
  padding: 1.3rem 4.4rem 1.3rem 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
  overflow: hidden;
  transition: $transition;
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--primary-color);
    z-index: -1;
    transition: $transition;
  }
  .icon {
    @include flex-position(flex, center, center);
    position: absolute;
    width: 3rem;
    height: 100%;
    top: 0;
    right: 0;
    background: var(--hover-color);
    color: var(--white);
    &.fa-play {
      font-size: 1.2rem;
    }
  }
  &:hover {
    color: var(--white);
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}
.primary-btn-two {
  display: inline-block;
  padding: 1.3rem 3.5rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  background: var(--primary-color-two);
  color: var(--white);
  transition: $transition;
  text-align: center;
  &:hover {
    background: var(--hover-color-two);
    color: var(--white);
  }
}
.primary-btn-three {
  display: inline-block;
  padding: 1.8rem 3.5rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  background: var(--primary-color-three);
  color: var(--white);
  transition: $transition;
  text-align: center;
  &:hover {
    background: var(--hover-color-three);
    color: var(--white);
  }
  &.active {
    border: 2px solid var(--primary-color-three);
    background: transparent;
    color: var(--primary-color-three);
    padding: 1.6rem 3.5rem;
    &:hover {
      background: var(--primary-color-three);
      color: var(--white);
    }
  }
}

.primary-btn-four {
  display: inline-block;
  padding: 1.8rem 3.5rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  background: var(--primary-color-three);
  color: var(--white);
  transition: $transition;
  text-align: center;
  &:hover {
    background: var(--hover-color-three);
    color: var(--white);
  }
}
.primary-btn-four-solid {
  display: inline-block;
  padding: 1.6rem 3.5rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  border: 2px solid var(--primary-color-three);
  font-weight: 700;
  text-transform: capitalize;
  background: transparent;
  color: var(--color-one);
  transition: $transition;
  text-align: center;
  &:hover {
    background: var(--primary-color-three);
    color: var(--white);
  }
}

.primary-btn-five {
  display: inline-block;
  padding: 1.2rem 3rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  background: var(--primary-color-five);
  color: var(--white);
  transition: $transition;
  text-align: center;
  &:hover {
    background: var(--hover-color-five);
    color: var(--white);
  }
}

.apply-job {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--white);
  background: var(--primary-color-five);
  padding: 1.2rem 3rem;
  border-radius: 0.6rem;
  transition: $transition;
  &:hover {
    color: var(--white);
    background: var(--hover-color-five);
  }
}

.primary-btn-six {
  display: inline-block;
  position: relative;
  padding: 1.3rem 2.5rem;
  font-family: $bodyFont;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--white);
  background: #3893FF;
  border-radius: 8px 0 0 8px;
  transition: $transition;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100%;
    top: 0;
    width:3.5rem ;
    height: 100%;
    background: #2B85EF;
    border-radius: 0 8px 8px 0;
  }
  &:hover {
    color: var(--white);
    background: var(--hover-color-five);
  }
}
.primary-btn-seven {
  display: inline-block;
  .btn-text {
    float: left;
    padding: 1.3rem 2.5rem;
    font-family: $bodyFont;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
    background: #D69F6D;
    border-radius: 8px 0 0 8px;
    transition: $transition;
  }
  .btn-icon {
    float: left;
    width:3.5rem ;
    padding: 1.3rem 0;
    height: 100%;
    text-align: center;
    background: #CC9059;
    border-radius: 0 8px 8px 0;
    color: var(--white);

  }
  &:hover {
    .btn-text {
      color: var(--white);
      background: #CC9059;
    }
  }
}


.primary-btn-eight {
  display: inline-block;
  padding: 1.3rem 2.5rem;
  border: 2px solid #F5B35B;
  background: #F5B35B;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #222222;
  transition: $transition;
  text-align: center;
  &.outline {
    background: transparent;
    color: #F5B35B;
    &:hover {
      background: #F5B35B;
      border-color: #F5B35B;
      color: #222222;
    }
  }
  &:hover {
    background: #e06a1f;
    border-color: #e06a1f;
    color: var(--white);
  }
}