/*--------------------------
faq-four-area
---------------------------*/
.faq-four-area {
  .faq-title {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--black);
    margin-bottom: 3rem;
  }
  .accordion {
    .card {
      border: 0;
      border-radius: 0;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
      .card-header {
        margin-bottom: 0;
        padding: 0;
        border: 0;
        .btn-link {
          padding: 1.1rem 2rem;
          background: #ffffff;
          font-size: 1.6rem;
          font-weight: 400;
          color: #222222;
          border-radius: 0;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            height: 100%;
            width: 5px;
            background: #FF6C5A;
            left: 0;
            top: 0;
            transition: $transition;
            opacity: 1;
          }
          &:after {
            @include flex-position(flex, center, center);
            position: absolute;
            font-family: "Font Awesome 5 free";
            font-weight: 900;
            content: "\f068";
            right: 2rem;
            top: 1rem;
            width: 25px;
            height: 25px;
            background:#FFE5E2;
            border-radius: 50%;
            transition: $transition;
            color: #FF6C5A;
          }
          &.collapsed {
            background: #F7F8FD;
            &::before {
              opacity: 0;
              width: 0;
            }
            &:after {
              content: "\f067";
              border-radius: 0;
              background: transparent;
              transition: $transition;
              color: #222222;
            }
          }
          &:hover {
            text-decoration: none;
            &:before {
              width: 5px;
              opacity: 1;
            }
          }
          &:active {
            text-decoration: none;
          }
          &:visited {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .card-body {
        padding: 1rem 2rem;
        P {
          margin: 0;
          font-size: 1.6rem;
          line-height: 2.8rem;
          font-weight: 400;
          color: #666666;
        }
      }
    }
  }
  .faqtab-menu {
    padding: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    .nav-link {
      padding: 1rem 0;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: capitalize;
      border-radius: 0;
      color: #666666;
      transition: $transition;
      &.active {
        background: #FFEEEC;
        color: #FF6C5A;
        padding: 1rem 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .faq-four-area .faqtab-menu {
    padding: 2rem 1.5rem;
  }
  .faq-four-area .faqtab-menu .nav-link.active {
    padding: 1rem .5rem;
  }
  .faq-four-area .faqtab-menu .nav-link {
    font-size: 1.4rem;
  }
}

@media (max-width: 991px) {
  .faq-four-area .faqtab-menu {
    padding: 2rem 1rem;
  }
}
@media (max-width: 767px) {
  .faq-four-area .faqtab-menu {
    margin-bottom: 3rem;
  }
}