/*--------------------------
about-area-two
---------------------------*/
.about-area-two {
  .about-info {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e3e3e3;
    p {
      margin-top: 0;
    }
  }
  .counter-list {
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
    .single-counter {
      flex-basis: 33%;
      &:nth-child(2) {
        .counter-number {
          span {
            color: #ff6c62;
          }
        }
      }
      &:nth-child(3) {
        .counter-number {
          span {
            color: #0fbe7b;
          }
        }
      }
      .counter-number {
        margin-bottom: 1rem;
        span {
          font-family: $titlefont;
          font-size: 6rem;
          font-weight: 900;
          color: #486193;
        }
      }
      .counter-title {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--color-one);
      }
    }
  }
}
