/*--------------------------
choseus-area-two
---------------------------*/
.choseus-area-two {
  .choseus-info {
    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #777777;
    }
    .blockquote-choseus {
      padding-left: 20px;
      border-left: 1px solid #D69F6D;
      p {
        margin: 0;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: #777777;
      }
    }
  }
  .counter-list {
    margin-top: 3rem;
    .single-counter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #0FBE7B;
      border-radius: 10px;
      padding: 40px 10px;
      width: 144px;
      height: 152px;
      &:nth-child(2) {
        background: #F1D45C;
      }
      span {
        font-family: $PTSerif ;
        font-size: 5rem;
        font-weight: 700;
        color: var(--white);
      }
      p {
        margin: 0;
        font-family: $PTSerif ;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--white);
      }
    }
  }
}

@media (max-width: 991px) {
  .choseus-area-two .choseus-image {
    text-align: center;
    margin-top: 3rem;
  }
}
@media (max-width: 414px) {
  .choseus-area-two .choseus-info .blockquote-choseus img {
    display: none;
  }
  .choseus-area-two .counter-list .single-counter span {
    font-size: 4rem;
  }
  .choseus-area-two .counter-list .single-counter p {
    font-size: 1.4rem;
  }
}