/*--------------------------
blog-area-two
---------------------------*/
.blog-area-two {
  .single-blog {
    background: var(--white);
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
    margin-bottom: 3rem;
    .blog-img {
      img {
        width: 100%;
        height: auto;
      }
    }
    .blog-info {
      padding: 3rem 2rem;

      .blog-title {
        margin-top: -0.5rem;
        font-family: $titlefont;
        font-size: 1.8rem;
        line-height: 2.8rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--text-color-four);
        a {
          color: var(--text-color-four);
          transition: $transition;
          &:hover {
            color: var(--hover-color);
          }
        }
      }
      .blog-meta {
        margin: 1.5rem 0;
        padding: 0;
        li {
          display: inline-block;
          position: relative;
          list-style: none;
          padding: 0 1rem;
          a {
            font-family: $titlefont;
            font-size: 1.4rem;
            font-weight: 400;
            text-transform: capitalize;
            color: var(--bColor);
            line-height: 1;
            i {
              margin-right: 0.5rem;
              color: #d9d9d9;
            }
          }
          &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 2rem;
            background: #dcdcdc;
            left: -0.2rem;
            top: 0.2rem;
          }
          &:first-child {
            padding-left: 0;
            &::before {
              display: none;
            }
          }
        }
      }
      .blog-cotent {
        font-family: $titlefont;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--bColor);
      }
      .blog-btn {
        display: inline-block;
        padding: 0.8rem 2rem;
        border: 1px solid var(--secondary-color-two);
        text-align: center;
        border-radius: 5rem;
        font-family: $titlefont;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--secondary-color-two);
        transition: $transition;
        &:hover {
          background: var(--secondary-color-two);
          color: var(--white);
        }
      }
    }
  }
}
