/*--------------------------
52.expertise-area
---------------------------*/
.expertise-area {
     margin-bottom: 2rem;
     .expertise-wrap {
          position: relative;
          padding: 7rem 5rem;
          border-radius: 2.5rem;
          box-shadow: 0px 4px 117px rgba(227, 227, 227, 0.28);
          background: var(--white);
          &::before {
               position: absolute;
               content: '';
               width: 100%;
               height: 100%;
               left: 0;
               top: 20px;
               background: #3893FF;
               border-radius: 15px;
               z-index: -1;
               transform: scaleX(1.04);
          }
          .expertise-title {
               font-family: $rubik;
               font-size: 3.6rem;
               font-weight: 700;
               text-transform: capitalize;
               color:#333333;
               text-align: center;
               margin-bottom: 4rem;
          }
          .expertise-list {
               display: flex;
               justify-content: space-between;
               align-items: center;
               flex-flow: row wrap;
               .single-expertise {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    img {
                         width: auto;
                         height: 70px;
                    }
                    h4 {
                         margin-top: 2rem;
                         font-size: 1.8rem;
                         font-weight: 700;
                         text-transform: capitalize;
                         color: #35364F;
                    }
               }
          }
     }
}

@media (max-width: 991px) {
     .expertise-area .expertise-wrap .expertise-list .single-expertise img {
          width: auto;
          height: 60px;
     }
     .expertise-area .expertise-wrap .expertise-list .single-expertise h4 {
          margin-top: 1rem;
          font-size: 1.4rem;
     }
     .expertise-area .expertise-wrap {
          padding: 5rem 2rem;
     }
     .expertise-area .expertise-wrap .expertise-title {
          font-size: 3rem;
          margin-bottom: 2.5rem;
     }
}
@media (max-width:767px) {
     .expertise-area .expertise-wrap .expertise-list {
          justify-content: flex-start;
     }
     .expertise-area .expertise-wrap {
          padding: 3rem 1rem;
     }
     .expertise-area .expertise-wrap .expertise-list .single-expertise {
          margin: 1%;
          width: 23%;
      }
}
@media (max-width: 414px) {
     .expertise-area .expertise-wrap .expertise-title {
          font-size: 2.8rem;
     }
     .expertise-area .expertise-wrap .expertise-list .single-expertise {
          margin: 1%;
          width: 31%;
     }
     .expertise-area .expertise-wrap {
          padding: 2rem 0;
     }
     .expertise-area .expertise-wrap .expertise-title {
          font-size: 2.2rem;
     }
     .expertise-area .expertise-wrap .expertise-list .single-expertise h4 {
          font-size: 1.3rem;
          font-weight: 400;
     }
}
@media (max-width: 320px) {
     .expertise-area .expertise-wrap .expertise-list .single-expertise img {
          height: 45px;
     }
}