// body var
$bodyFont: "Lato", sans-serif;
$titlefont: "Source Sans Pro", sans-serif;
$rubik: "Rubik", sans-serif;
$PTSerif : 'PT Serif', serif;
$bfSize: 1.4rem;
$blineHeight: 2.4rem;
$fontWeight: 400;
$transition: all 0.5s linear;
